.feynman {
  position: relative;
  box-sizing: border-box;
  min-height: 890px;
  background: url(../../images/feynman/feynman.png) no-repeat bottom 0 left 0;
  background-color: #f1f1f1;
  background-size: 876px 637px;
  padding: 100px 0 0;
}
